body{
    background-color: #232323;
    margin:0;
    font-family: "Montserrat" , "Avenir";
}
h1{
    text-align: center;
    color: whitesmoke;
    margin:0;
    font-weight: normal;
    padding:20px, 0;
}
.squares{
    width: 32%;
    background-color: purple;
    display: inline-block;
    padding-bottom: 30%;
    margin: 0.4%;
    border-radius: 15%;
    transition: background 0.55s;
    --webkit-transition: background 0.55s;
    --moz-transition: background 0.55s;
    

}
#container{
    margin: 20px auto;
    max-width: 600px
}

#stripe {
    background: whitesmoke;
    height: 30px;
    text-align: center;
}

.selected {
    background: cadetblue;
}
#colorDisplay{
    font-size: 200%
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    --webkit-transition: all 0.55s;
    --moz-transition: all 0.55s;
    outline: none;
    
}
#msg{
    display: inline-block;
    width: 30%;
}
button:hover{
    color: whitesmoke;
    background: teal;
}